.Collections {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    color: #fff;
}
.tools{
    padding-left: 2em;
    display:flex;
    width: 100%;
    max-height: min-content;
    color: #FFFFFF;
    background-color: #000000;
  }
  .tools select{
    margin-left: 2em;
  }
  .ul{
    display: flex;
    list-style: none;
}
  .ul a:visited{
    color: deepskyblue;
  }

  .ul li{
    margin: 1em;
  }