
.Collection {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: #282c34;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
